.array-body {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.array-element {
    height: 20px;
    width: 20px;
    display: inline-block;
    background-color: blue;
    margin: 4px;
} 